* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(55, 55, 167);
    font: normal 15pt Arial;
}

header {
    margin-top: 30px;
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    margin-top: 25px;
}   

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 8px;
}

.input-inicio{
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 25px;
    font-weight: 600;
}

.input-fim{
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 25px;
    font-weight: 600;
}

.input-passo{
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 25px;
    font-weight: 600;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btnContar{
    width: 300px;
    font-size: 25px;
  
}